.example-spacer {
    flex: 1 1 auto;
}

span {
    padding: 5px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.donor-quote {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
}
